{% load i18n %}
{% load staticfiles %}
{% load static_v %}

<div class="template">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/b61649a8ff.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/f83ca04bbd.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/945f98c919.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/1a834a640f.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/0971478aaf.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/e3fe420e29.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/5c355ee013.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/391d2c3e76.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/a2b02bf539.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/568a176c53.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/cd32768d39.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/767d949575.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/f7c17e1f3c.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/1ac2863aa5.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/787a8c3dd9.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/9190015935.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/89a6089210.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/585d2ff22f.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/da4de432fa.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/15c0bfa444.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/9918c84c44.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/df7ec44b91.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/41aae2239e.jpg' %}">
    <img class="animated bounce" src="{% static 'album/web/img/album_template/k_july/9db9e7d13f.jpg' %}">
</div>