{% extends './base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load pg_common %}

{% block title %}
    相册管理
{% endblock %}

{% block local_css %}
    <style>
        ul, p, label{
            margin-bottom: auto;
        }
        #albumList{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: #f8f8f8;
        }
        #albumList .album-list{
            padding: 15px 15px 0 0;
        }
        #albumList .album-item{
            margin-bottom: 15px;
            text-align: center;
        }
        #albumList .album-item>div{
            background-color: #ffffff;
        }
        #albumList .album-cover{
            padding-bottom: 100%;
        }
        #albumList .album-cover img{
            left: 0;
            top: 0;
        }
        #albumList .album-name{
            font-size: 14px;

        }
    </style>
{% endblock %}

{% block container %}
    {% verbatim %}
    <div id="albumList" v-cloak>
        <p class="weui-cells__title"><span class="text-secondary">长按查看相册</span>
        <div class="album-list row mx-0">
            <v-touch class="album-item col-4 pr-0"
                     v-on:press.prevent="actionAlbum(album)"
                     v-on:tap.prevent="editAlbum(album)"
                     :key="album.id"
                     v-for="album, i in albums">
                <div class="border p-1 position-relative">
                    <div class="album-cover position-relative w-100">
                        <img class="rounded position-absolute w-100 h-100" :src="albumCover(album)" alt="">
                    </div>
                    <div class="album-name text-truncate">
                        {{ album.name || '用户相册' }}
                    </div>
                    <div class="pg-mask"></div>
                </div>
            </v-touch>
        </div>
    </div>
    {% endverbatim %}
    {% include './components/album_detail.html' %}
{% endblock %}

{% block local_js %}
<script type="text/javascript">
    $.extend(context, {
        albumListApiUrl: '{% url "album:cms:api:album-list" %}',
        albumDetailApiUrl: '{% url "album:cms:api:album-detail" 0 %}',
        albumDisplayPageUrl: '{% url "album:web:album_display" 0 %}',
    });
</script>
<script type="text/javascript">
var alVue = new Vue({
    el: '#albumList',
    data: {
        albums: [],
    },
    methods: {
        getAlbums: function () {
            var vue = this;
            http.get(context.albumListApiUrl, {}, function(res){
                vue.albums = res;
            });
        },
        albumCover: function (album) {
            if (album.picture_list.length > 0) {
                return album.picture_list[0].image;
            } else if (album.template_data) {
                return album.template_data.cover_url || album.template_data.cover;
            } else {
                return '';
            }
        },
        editAlbum: function (album) {
            aVue.init(album);
            aVue.show();

        },
        actionAlbum: function (album) {
            var vue = this;
            weui.actionSheet([
                {
                    label: '查看相册',
                    onClick: function () {
                        window.location.href = context.albumDisplayPageUrl.replace('0', album.id) + window.location.search;
                    }
                },
                {
                    label: '删除相册',
                    onClick: function () {
                        http.delete(context.albumDetailApiUrl.replace('0', album.id), {}, function () {
                            vue.getAlbums();
                        });
                    }
                }
            ], [
                {
                    label: '取消',
                    onClick: function () {
                    }
                }
            ], {
                className: 'custom-classname',
                onClose: function(){
                }
            });
        },
    },
    mounted: function () {
        var vue = this;
        vue.getAlbums();
    }

});
</script>
{% endblock %}