{% extends 'base/web/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load pg_common %}

{% block top_css %}
    {{ block.super }}
    {% if UC %}
        <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'we/common/lib/weui/css/weui.css' %}">
    {% endif %}
{% endblock %}


{% block bottom_js %}
    {{ block.super }}
    <script src="{% static 'we/common/lib/weui/js/weui.js' %}"></script>
{% endblock %}