{% extends './base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load static_v %}

{% block title %}
    我的相册
{% endblock %}

{% block local_css %}
    <style>
        ul, p, label{
            margin-bottom: auto;
        }
        #albumList .album-list{
            padding: 15px 15px 0 0;
        }
        #albumList .album-item{
            margin-bottom: 15px;
            text-align: center;
        }
        #albumList .album-cover{
            padding-bottom: 100%;
        }
        #albumList .album-cover img{
            left: 0;
            top: 0;
        }
        #albumList .album-name{
            font-size: 14px;

        }
    </style>
{% endblock %}

{% block container %}
    {% verbatim %}
    <div id="albumList" v-cloak>
        <div class="album-list row mx-0">
            <v-touch class="album-item col-4 pr-0"
                     v-on:press="actionTemplate(album)"
                     v-on:tap="editTemplate(album)"
                     :key="album.id"
                     v-for="album, i in albums">
                <div class="border p-1">
                    <div class="album-cover position-relative w-100">
                        <img class="rounded position-absolute w-100 h-100" :src="albumCover(album)" alt="">
                    </div>
                    <div class="album-name text-truncate">
                        {{ album.name || '我的相册' }}
                    </div>
                </div>
            </v-touch>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}


{% block bottom_js %}
    {{ block.super }}
{% endblock %}
{% block local_js %}
<script type="text/javascript">
    var context = {
        albumListApiUrl: '{% url "album:web:api:album-list" %}',
        albumDetailApiUrl: '{% url "album:web:api:album-detail" 0 %}',
        albumPageUrl: '{% url "album:web:album" 0 %}',
        albumDisplayPageUrl: '{% url "album:web:album_display" 0 %}',
    }
</script>
<script type="text/javascript">
var aVue = new Vue({
    el: '#albumList',
    data: {
        albums: [],
    },
    methods: {
        getAlbums: function () {
            var vue = this;
            http.get(context.albumListApiUrl, {}, function(res){
                vue.albums = res;
            });
        },
        albumCover: function (album) {
            if (album.picture_list.length > 0) {
                return album.picture_list[0].image;
            } else if (album.template_data) {
                return album.template_data.cover_url || album.template_data.cover;
            } else {
                return '';
            }
        },
        editTemplate: function (album) {
            window.location.href = context.albumPageUrl.replace('0', album.id) + window.location.search;
        },
        actionTemplate: function (album) {
            var vue = this;
            weui.actionSheet([
                {
                    label: '查看相册',
                    onClick: function () {
                        window.location.href = context.albumDisplayPageUrl.replace('0', album.id) + window.location.search;
                    }
                },
                {
                    label: '删除相册',
                    onClick: function () {
                        http.delete(context.albumDetailApiUrl.replace('0', album.id), {}, function () {
                            vue.getAlbums();
                        });
                    }
                }
            ], [
                {
                    label: '取消',
                    onClick: function () {
                    }
                }
            ], {
                className: 'custom-classname',
                onClose: function(){
                }
            });
        }
    },
    mounted: function () {
        var vue = this;

        vue.getAlbums();
    }

});
</script>
{% endblock %}