{% extends 'base/web/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load pg_common %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static 'album/common/img/favicon.ico' %}">
{% endblock %}

{% block top_css %}
    {{ block.super }}
    {% if settings.USE_CDN %}
        <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'we/common/lib/weui/css/weui.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'album/common/css/common.css' %}">
{% endblock %}


{% block bottom_js %}
    {{ block.super }}
    <script src="{% static 'we/common/lib/weui/js/weui.js' %}"></script>
{% endblock %}

{% block local_js %}
    {{ block.super }}
    <script type="text/javascript">
    document.oncontextmenu = function () {
        return false;
    };
    </script>
{% endblock %}