{% load i18n %}
{% load staticfiles %}

<style type="text/css">
    ul, p, label{
        margin-bottom: auto;
    }
    #albumEdit {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        overflow: auto;
        display: none;
    }
    #albumExtra:before{
        content: ' ';
        display: table;
    }
    #pictureEdit {
        display: block!important;
        height: auto!important;
        position: initial!important;
    }
     #pictureEdit .ab-bottom-btn{
        display: none;
    }
</style>

<div id="albumEdit">
    {% include './picture_edit.html' %}
    {% verbatim %}
    <v-touch id="albumExtra" v-on:panright="hide($event)" v-cloak>
        <p class="weui-cells__title">相册模板</p>
        <div class="weui-cells">
            <v-touch tag="span" class="weui-cell weui-cell_access" v-on:tap.prevent="enterSelectTemplate">
                <div class="weui-cell__hd"><img :src="album.template_data ? (album.template_data.cover_url || album.template_data.cover) : ''"
                                                class="d-block"
                                                alt=""
                                                style="width:20px;height:20px;margin-right:5px;"></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>{{ album.template_data ? album.template_data.name : '未选择' }}</p>
                </div>
                <span class="weui-cell__ft"></span>
            </v-touch>
        </div>

        <p class="weui-cells__title">相册音乐</p>
        <div class="weui-cells">
            <v-touch tag="span" class="weui-cell weui-cell_access" v-on:tap.prevent="enterSelectMusic">
                <div class="weui-cell__hd"><i class="fa fa-music text-success d-block" style="width:20px;margin-right:5px;"></i></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>{{ album.music_data ? album.music_data.name : '未选择' }}</p>
                </div>
                <span class="weui-cell__ft"></span>
            </v-touch>
        </div>

        <p class="weui-cells__title">相册信息</p>
        <div class="weui-cells">
            <v-touch tag="span" class="weui-cell weui-cell_access" v-on:tap.prevent="enterEditInfo">
                <div class="weui-cell__hd"><i class="fa fa-info text-success d-block" style="width:20px;margin-right:5px;"></i></div>
                <div class="weui-cell__bd weui-cell_primary">
                    <p>{{ album.name || '未设置' }}</p>
                </div>
                <span class="weui-cell__ft"></span>
            </v-touch>
        </div>
        <v-touch class="pg-center-x ab-bottom-btn position-fixed" v-on:tap.prevent="hide">
            <div class="ab-btn-del"></div>
        </v-touch>
    </v-touch>
    {% endverbatim %}
</div>

{% include './template_select.html' %}
{% include './music_select.html' %}
{% include './info_edit.html' %}

<script type="text/javascript">
    $.extend(context, {
        canHideEditor: true,
        canExitPictureEdit: false,
        albumDetailApiUrl: '{% url "album:web:api:album-detail" 0 %}',
        albumPictureApiUrl: '{% url "album:web:api:album-picture" 0 %}',
        albumPictureExchangeApiUrl: '{% url "album:web:api:album-exchange-pictures" 0 %}',

        selectTemplate: function (template) {
            if (aVue.album.template_data && template.id == aVue.album.template_data.id) {
                return;
            }
            aVue.album.template_data = template;
            http.patch(context.albumDetailApiUrl.replace('0', aVue.albumId), {template: template.id}, function () {
                aVue.getAlbum();
            });
        },
        selectMusic: function (music) {
            if (aVue.album.music_data && music.id == aVue.album.music_data.id) {
                return;
            }
            aVue.album.music_data = music;
            http.patch(context.albumDetailApiUrl.replace('0', aVue.albumId), {music: music.id}, function () {});
        },
        confirmInfo: function (info) {
            if (aVue.album.name == info.name && aVue.album.desc == info.desc) {
                return;
            }
            aVue.album.name = info.name;
            aVue.album.desc = info.desc;
            http.patch(context.albumDetailApiUrl.replace('0', aVue.albumId), info, function () {});
        },
        exitPictureEdit: function (isChanged) {},

        exitAlbumEdit: function (isChanged) {},
    });
</script>
<script type="text/javascript">
    $(function () {
        window.aVue = new Vue({
            el: '#albumExtra',
            data: {
                albumId: 0,
                album: {
                    id: '',
                    name: '',
                    desc: '',
                    picture_list: [],
                    music_data: null,
                    template_data: null,
                },

                state: '',
            },
            methods: {
                getAlbum: function (callback) {
                    var vue = this;
                    http.get(context.albumDetailApiUrl.replace('0', vue.albumId), {}, function (res) {
                        vue.album = res;
                        if (callback) {
                            callback();
                        }
                    });
                },
                init: function(album) {
                    var vue = this;
                    if (typeof(album) == 'object') {
                        vue.albumId = album.id;
                        vue.album = album;
                        pVue.init(vue.albumId, vue.album.picture_list);
                        tVue.init(vue.album.template_data ? vue.album.template_data.id : null);
                        mVue.init(vue.album.music_data ? vue.album.music_data.id : null);
                        iVue.init(vue.album);
                    } else {
                        vue.albumId = albumId;
                        vue.getAlbum(function () {
                            pVue.init(vue.albumId, vue.album.picture_list);
                            tVue.init(vue.album.template_data ? vue.album.template_data.id : null);
                            mVue.init(vue.album.music_data ? vue.album.music_data.id : null);
                            iVue.init(vue.album);
                        });
                    }
                },
                show: function () {
                    this.state = JSON.stringify(this.album);
                    docUtil.setTitle('编辑相册');
                    $('#albumEdit').animateCss('slideInRight').show();
                },
                hide: function (e) {
                	if (!context.canHideEditor) {
                	    return;
                    }
                    if (e && arrayUtil.in(e.target, $('#uploaderCustomFiles *'))) {
                	    return;
                    }

                    var vue = this;
                    docUtil.revertTitle();
                    $('#albumEdit').animateCss('slideOutRight', function ($el) {
                        $el.hide();

                        var state = JSON.stringify(vue.album);
                        var isChanged = state != vue.state;
                        context.exitAlbumEdit(isChanged);
                    });
                },
                enterSelectMusic: function () {
                    mVue.show();
                },
                enterSelectTemplate: function () {
                    tVue.show();
                },
                enterEditInfo: function () {
                    iVue.show();
                },
            },
        });
    });
</script>
